body{
    background-color: black;
}

h1{
    color: red;
    text-align: center;
    margin-top: 15px;
}

img{
    width: 1355px;
    margin: 25px 0;
}

p {
    color: white;
    max-width: 800px;
    margin: 20px auto;
    line-height: 1.6;
}

footer{
    text-align: center;
}
